.DS_Store
node_modules
/dist
/public/powerStatic/models
/public/powerStatic/video
/public/012fb7b6d5a802614a264827c92194db
/public/fd57a4b1acfa40a665a28686d746789e

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
