.page {
  width: 100%;
  height: 100%;
  background-color: #5a4f5f;
}
// .page_header {
//   .page_header_line {
//     width: 100%;
//     height: 0.13rem;
//   }
//   h1 {
//     padding: 0.2rem 0;
//     color: #ffffff;
//     font-size: 0.38rem;
//   }
// }
.page_action {
  display: flex;
  // &_item {
  //   width: 3.92rem;
  //   margin-left: 1.73rem;
  //   H2 {
  //     font-size: 24px;
  //     font-family: SourceHanSansCN;
  //     font-weight: 400;
  //     color: #ffffff;
  //     line-height: 40px;
  //     opacity: 0.5;
  //   }
  //   .cover_container {
  //     width: 100%;
  //     height: 4.5rem;
  //   }
  // }
}
.page_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.04rem;
  width: 100%;
  background: #7d89e2;
  color: #ffffff;
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    li {
      width: 20%;
      height: 100%;
      background: #37303a;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      .foot_li_p1 {
        font-size: 0.34rem;
      }
      .foot_li_p2 {
        font-size: 0.18rem;
        margin-top: 0.16rem;
      }
    }
  }
}
.end_btn {
  border-left: 100px solid transparent;
  border-top: 100px solid transparent;
  border-bottom: 100px solid #ff3b30;
  border-right: 100px solid transparent;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100px) translateY(-100px) rotate(45deg);
}
.end_btn::after {
  content: '';
  position: absolute;
  right: -24px;
  top: 46px;
  width: 40px;
  height: 40px;
  background: url('~assets/images/common/home_icon4.png') no-repeat;
  background-size: 70% 70%;
  transform: rotate(45deg);
}

::v-deep .el-progress-bar__outer {
  height: 0.13rem !important;
  border-radius: 0 !important;
}
::v-deep .el-progress-bar__inner  {
  border-radius: 0 !important;
}

.fixed_left,
.fixed_right {
  .progress_rotate_left {
    width: 580px;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 430px;
    left: -215px;
  }
  .progress_test_left {
    position: absolute;
    bottom: 2%;
    left: 6px;
    z-index: 9;
  }
  .progress_rotate_right {
    width: 580px;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 430px;
    right: -225px;
  }
  .progress_test_right {
    position: absolute;
    bottom: 2%;
    right: 6px;
    z-index: 9;
  }
  .text_p1 {
    position: absolute;
    top: 34px;
    left: 18px;
    font-size: 36px;
  }
  .text_p2 {
    position: absolute;
    top: 76px;
    left: 24px;
    font-size: 20px;
  }
}
.fixed_left {
  // position: fixed;
  // left: 0;
  // top: 28vh;
}
.end_test_btn {
  width: 296px;
  height: 84px;
  background-color: #ff3b30;
  position: fixed;
  left: 18vw;
  bottom: 18vh;
  border-radius: 15px;
  display: flex;
  z-index: 9;
  justify-content: center;
  align-items: center;
}
::v-deep #progress_left .ant-progress-circle-trail {
  stroke: #cfd7da !important;
}
::v-deep .ant-progress-circle-trail {
  stroke: #f03985 !important;
}
.stop_skip {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  right: 0.4rem;
  top: 0.14rem;
  background: url('~assets/images/common/skip.png');
}
.stop_skip::after {
  content: '';
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  background: url('~assets/images/common/skip.png');
}
.audio_text {
  width: 600px;
  position: absolute;
  right: 175px;
  bottom: 60px;
  z-index: 999;
}
.audio_text::after {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 42px;
  height: 42px;
  background: url('~assets/images/phase2/tranin_icon1.svg') no-repeat;
  background-size: 100% 100%;
}

.jojo-leave-active {
  animation: jojo 0.5s linear;
}

@keyframes jojo {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
